<html>
<head>
	<%- setupScript %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="/view/scoreboard/scoreboard.css" rel="stylesheet"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/plugins/TextPlugin.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
	<script src="/view/scoreboard/moment-duration-format.js"></script>
	<script src="/view/scoreboard/scoreboard.js"></script>
</head>
<body>
<div id="container">
  <div id="small-scoreboard">
		<div id="small-scoreboard-logo">
		</div>
		<div id="small-scoreboard-info-container">
			<div id="small-scoreboard-info">
				<div id="small-scoreboard-away-team">
					<div id="small-scoreboard-away-team-color">
					</div>
					<div id="small-scoreboard-away-team-tag">
					</div>
					<div id="small-scoreboard-away-team-score">
					</div>
				</div>
				<div id="small-scoreboard-home-team">
					<div id="small-scoreboard-home-team-color">
					</div>
					<div id="small-scoreboard-home-team-tag">
					</div>
					<div id="small-scoreboard-home-team-score">
					</div>
				</div>
				<div id="small-scoreboard-timer">
					<div id="small-scoreboard-timer-time">
					</div>
					<div id="small-scoreboard-timer-desc">
					</div>
				</div>
			</div>
			<div id="small-scoreboard-score-notification">
				<div id="small-scoreboard-score-notification-image">
				</div>
				<div id="small-scoreboard-score-notification-text">
				</div>
			</div>
		</div>
  </div>
	<div id="large-scoreboard">
		<div id="large-scoreboard-title">
			<div id="large-scoreboard-title-text">
			</div>
		</div>
		<div id="large-scoreboard-away-team">
			<div id="large-scoreboard-away-team-image">
			</div>
			<div id="large-scoreboard-away-team-name">
			</div>
			<div id="large-scoreboard-away-team-score">
			</div>
		</div>
		<div id="large-scoreboard-home-team">
			<div id="large-scoreboard-home-team-image">
			</div>
			<div id="large-scoreboard-home-team-name">
			</div>
			<div id="large-scoreboard-home-team-score">
			</div>
		</div>
		<div id="large-scoreboard-status">
			<div id="large-scoreboard-status-text">
			</div>
		</div>
	</div>
</div>
</body>
</html>
